@midmark-enterprise:registry=https://pkgs.dev.azure.com/MidmarkDigitalEcosystem/_packaging/Midmark.Deco%40Local/npm/registry/
@midmark-enterprise:always-auth=true
@midmark:registry=https://pkgs.dev.azure.com/MidmarkDigitalEcosystem/_packaging/Midmark.Deco/npm/registry/
@midmark:always-auth=true